bin/*.js
lib/*.js
*.d.ts
!jest.config.js
.env
node_modules

# Default WP components ＆ old themes
src/wordpress/themes/twentytwentytwo
src/wordpress/themes/twentytwentyone
src/wordpress/plugins/akismet
src/wordpress/plugins/hello.php

# MAC
.DS_Store
**/.DS_Store

# CDK asset staging directory
.cdk.staging
cdk.out

# backup and restore data
src/backups
*.zip
*.jpa

# log files
log
*.log